_site
.sass-cache
.jekyll-metadata
.jekyll-metadata
.obsidian
/node_modules
/imagemosaic/env
/inside-corona/source
/inside-corona/write_json.rb
/geocode/env
/temp
/assets/img/faces_out
package-lock.json
.DS_Store
