---
layout:            page
title:             'Personen'
share-description: 'Personen Übersicht'
---

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
{% assign post_groups = site.posts | group_by: "persons" %}

{%- for person in site.data.people -%}
  <a href="#{{ person.name }}" class="btn btn-primary btn-sm tag-btn"><i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{ person.name }}</a>
{%- endfor -%}

<div id="full-tags-list">
{%- for person in site.data.people -%}
  {%- assign all_posts = '' | split: '' -%}
  {%- for posts in post_groups -%}
    {%- if posts.name contains person.name -%}
      {%- assign all_posts = all_posts | concat: posts.items -%}
    {%- endif -%}
  {%- endfor -%}

  <h2 id="{{- person.name -}}" class="linked-section">
    {{- person.name -}}&nbsp;({{- all_posts.size -}})
  </h2>
  <div class="post-list">
  {%- assign ordered_posts = all_posts | sort: 'date' | reverse -%}
  {%- for post in ordered_posts -%}
    <div class="element-item {{ post.date }}">
      <article class="post-preview">

      {%- if post.redirect -%}
        <a href="{{ post.redirect | absolute_url }}">
      {% else %}
        <a href="{{ post.url | absolute_url }}">
      {% endif %}

        <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}
        </a>

        <p class="post-meta">
          {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
          Posted on {{ post.date | date: date_format }}
        </p>

        {% include meta.html %}

      </article>
    </div>
  {%- endfor -%}
  </div>
{%- endfor -%}
</div>

