<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% assign cover-img = "/assets/img/timeline/Studies.jpg" %}

<div id="header-big-imgs" data-num-img={% if cover-img.first %}{{ cover-img.size }}{% else %}1{% endif %}
  {% for bigimg in cover-img %}
  {% assign imgnum = forloop.index %}
  {% for imginfo in bigimg %}
    {% if imginfo[0] %}
    data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
    data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
  {% else %}
    data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
  {% endif %}
  {% endfor %}
  {% endfor %}
></div>

<header class="header-section has-img">
<div class="big-img intro-header">
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="studie-heading">
          <h1>{% if page.de.subtitle %}{{ page.de.subtitle | strip_html }}{% else %}<br/>{% endif %}</h1>
          <span class="post-meta">Published on {{ page.date | date: date_format }}</span>
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
</header>
