---
layout:
title:
permalink: /json/event-data.json
---

[ {% for event in site.data.demotermine %}
    {% if event.land == "DE" %}
      {% assign color = "orange" %}
    {% elsif event.land == "CH" %}
      {% assign color = "red" %}
    {% elsif event.land == "AT" %}
      {% assign color = "red" %}
    {% endif %}

    {% if event.webseite %}
      {% assign url = event.webseite %}
    {% elsif event.livestream %}
      {% assign url = event.livestream %}
    {% else %}
      {% assign url = "" %}
    {% endif %}
 
    {% capture title %}{{event.stadt}}, {{event.treffpunkt}}, {{event.protestform}}{% endcapture %}

    { "id":"{{event.id}}", "color":"{{color}}", "title":"{{title}}", "start": "{{event.datum}}T{{event.uhrzeit}}", "allDay":false, "country":"{{event.land}}", "stream":"{{event.livestream}}", "url":"{{url}}" }
    {%unless forloop.last %},{%endunless%}
  {% endfor %}
]
