---
layout:
title:
permalink: /json/network-person-data.json
---

{
  "nodes": [
    {% for node in site.data.network-person-nodes %}
    {
      "id": "{{ node.id }}",
      "title": "{{ node.title }}",
      "image": "/assets/img/graph/{{ node.image }}",
      "group": "{{ node.group }}"
    }
    {%unless forloop.last %},{%endunless%}
    {% endfor %}
  ],
  "links": [
    {% for edge in site.data.network-person-edges %}
    {
      "source": "{{ edge.source }}",
      "target": "{{ edge.target }}",
      {%- if edge.title != "" -%}
      "title": "{{ edge.title }}",
      {%- else -%}
      "title": "{{ edge.group }}",
      {%- endif -%}
      "group": "{{ edge.group }}"
    }
    {%unless forloop.last %},{%endunless%}
    {% endfor %}
  ]
}
