---
layout: page
---

{% assign posts = paginator.posts | default: site.posts %}

<div class="posts-list">
  {% for post in posts %}
  <div style="font-size:7px">
    {% assign date_format = site.date_format | default: "%Y-%m-%d" %}
    {{ post.date | date: date_format }}

    {{ post.title }}

    {%- if post.redirect -%}
    <a href="{{ post.redirect | absolute_url }}">
    {% else %}
    <a href="{{ post.url | absolute_url }}">
    {% endif %}
      {% if post.subtitle %}
        {{ post.subtitle }}
      {% endif %}
    </a>

    {% if site.feed_show_persons != false and post.persons.size > 0 %}
      <span>Personen:</span>
      {% for person in post.persons %}
      <a href="{{ '/persons' | absolute_url }}#{{- person -}}">{{- person -}}</a>
      {% endfor %}
    {% endif %}

    {% if site.feed_show_categories != false and post.categories.size > 0 %}
      <span>Kategorien:</span>
      {% for category in post.categories %}
      <a href="{{ '/categories' | absolute_url }}#{{- category -}}">{{- category -}}</a>
      {% endfor %}
    {% endif %}

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
      <span>Tags:</span>
      {% for tag in post.tags %}
      <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
    {% endif %}

  <br/>
  </div>

  {% endfor %}
</div>

